webdriver_manager
selenium
aiohttp
beautifulsoup4
colorama
rich
requests
prompt_toolkit
webdriver-manager
pyyaml
gitpython
Flask
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
